button {
    background-color: #FFD0B8;
}

.genrebtn{
    display: flex;
    justify-content: space-between;
}

.genrebtn button{
    background-color: #FEFEFE;
    border-radius: 8px;
    padding: 8px 16px;
    width: 118px;
    height: 118px;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.25);
    color: black;
}

h5{
    color: #1F6F6A;
    font-family: Rubik;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    text-align: center;
    margin-bottom: 50px;
}

.buttons-container{
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
}

.buttons-container button{
    border-radius: 7px;
    background: var(--Tertiary, #A3E6DE);
}

/*Style caroussel*/
/* Styles pour le conteneur du carrousel */
.occasion-carousel {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    margin-bottom: 20px;
  }
  
  /* Styles pour chaque page du carrousel */
  .carousel-page {
    display: flex;
    flex: 0 0 auto;
    scroll-snap-align: start;
    padding: 10px;
  }
  
  /* Styles pour les boutons d'occasion */
  .occasion-btn {
    border: 1px solid #ccc;
    background-color: #A3E6DE;
    color: #333;
    font-size: 14px;
    padding: 8px 12px;
    margin-right: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease, border-color 0.3s ease, color 0.3s ease;
  }
  
  .occasion-btn:hover {
    background-color: #f0f0f0;
  }
  
  /* Styles pour le bouton sélectionné */
  .occasion-btn.selected {
    border-color: #A3E6DE;
    background-color: #A3E6DE;
    color: #fff;
  }
  
  /* Styles pour les boutons de navigation */
  .buttons-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .buttons-container button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #A3E6DE;
    color: #fff;
    border: none;
    border-radius: 4px;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .buttons-container button:hover {
    background-color: #A3E6DE;
  }
  
  /* Styles pour les flèches de navigation */
  .swiper-button-next,
  .swiper-button-prev {
    color: #A3E6DE;
  }
    