@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root{
    --bs-green: #1F6F6A;
    --bs-beige: #FFD0B8;
    --bs-white: #fff;
    --bs-black: #000;
}

footer.main{
    width: 1720px;
    background-color: var(--bs-green);
    padding: 8px 0;
}

.bs-white{
    color: var(--bs-white);
}