@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

footer.main{
    background-color: var(--bs-green);
    padding: 8px 0;
}

.bs-white{
    color: var(--bs-white);
}

.title-footer{
    color: var(--bs-white);
    font-size: 24px;
}

.btn-footer {
    transition: all 300ms ease-in-out;
    border-radius: 8px;
    font-family: "Inter", sans-serif;
    color: var(--bs-white);
    text-decoration: none;
}

.btn-footer:hover{
    color: var(--bs-white);
}