@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root{
    --bs-green: #1F6F6A;
    --bs-beige: #FFD0B8;
    --bs-white: #fff;
    --bs-black: #000;
    --bs-bordeau: #9A4012;
}

header.main{
    background-color: var(--bs-green);
    padding: 8px 0;
}

header.main nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 50px;
}

.btn-header {
    padding: 10px 15px;
    transition: all 300ms ease-in-out;
    border-radius: 8px;
    font-family: "Inter", sans-serif;
    color: var(--bs-white);
    text-decoration: none;
    text-align: center;
}

.btn-header:hover{
    color: var(--bs-white);
}

.btn-header2{
    display: flex;
    background: linear-gradient(90deg, #FFD0B8 0%, #FEFEFE 88%, #A3E6DE 100%);
    color: var(--bs-black);
    text-decoration: none;
    text-transform: uppercase;
    padding: 12px 32px;
    border-radius: 8px;
    transition: all 300ms ease-in-out;
    align-items: center;
}

.btn-header2:hover{
    background: linear-gradient(90deg, #FFECE3 0%, #FEFEFE 88%, #DAF5F2 100%);
    color: var(--bs-bordeau);
    text-decoration: none;
}

.text-logo{
    font-size: 32px;
    text-decoration: none;
    color: var(--bs-white);
    font-family: "Inter", sans-serif;
    font-style: normal;
}

.text-logo:hover{
    text-decoration: none;
    color: var(--bs-white);
}

.ml20{
    margin-left: 20px;
}